.App {
  font-family: sans-serif;
  text-align: center;
}

.dropdown {
  padding: 8px;
}

h1 {
  text-transform: capitalize;
}

label{
  text-transform: capitalize;
  margin: 10px
}

select{
  text-transform: capitalize;
}

button {
  margin: 5px;
}